@media (max-width: 780px) {
    .menu {
        justify-content: center;
        margin: 0px;
    }

    .titulo {
        font-size: 2em;
        text-align: center;
    }

    .creditos > p{
        text-align: center;
        font-size: 0.8em;
    }
}

@media screen and (max-width: 770px) and (max-height: 500px) and (orientation: landscape) {
    .imagem > img {
        width: 50%;
    }
}


@media (max-width: 410px) {
    #curiosidades {
        display: none;
    }
}

@media (max-width: 375px) {
    .cabecalho h1 {
        font-size: 2.5em;
    }

    .cabecalho p {
        font-size: 1.1em;
        line-height: 20px;
        margin: 0px 10px;
    }

    .menu {
        justify-content: start;
    }

    .titulo {
        margin: 10px 0px;
    }

    .lista {
        padding-left: 30px;
        font-size: 0.9em;
    }
}